@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap');

:root{
  --font-highlight: 'MedievalSharp';
  --font-body: 'Zen Maru Gothic';
  --color-primary-100: #115146;
  --color-primary: #03382F;
  --color-primary-500: #00221C;
  --color-secondary-100: #4D2F73;
  --color-secondary: #1F083C;
  --color-scondary-500: #110224;
  --color-ternary-100: #7A7F1B;
  --color-ternary: #535805;
  --color-ternary-500: #333500;
  --white: #ffffff;
  --shadow-color: 44deg 100% 4%;
  --shadow-elevation-low:
          0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
          0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
          1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
          0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
          0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
          2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
          5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
          0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
          1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
          2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
          4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
          7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
          11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
          17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
          25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body), sans-serif;
  font-size: 1rem;
    background-image: url('/images/distressed2.png');
    background-color: var(--white);
    background-position: center;
}

h1 {
  font-family: var(--font-highlight), cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
